// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*search page*/
.search-result {
	margin: 50px 0;
}
.about-us-page{
		overflow-x: hidden;
}

.about-us-page .search-result .button-container a {
    background-color: #cf0f40;
    color: white;
    display: inline-block;
    font-family: Raleway,sans-serif;
    font-weight: 700;
    padding: 18px 35px 18px 45px;
    text-decoration: none;
    transition: opacity 0.3s ease 0s;
}
.about-us-page .qoute-container{
	line-height: 35px;
}

.about-us-page .search-result .button-container a:hover{
	opacity: 0.7;
}
.about-us-page .search-result .button-container{
	margin-bottom: 32px;
    margin-top: 48px;
    text-align: center;
}

.search-result-div{
	position: relative;
	/*left: 150px;*/
}


.box{  		
	width: 300px;
	height: 300px;
	text-align: center;
	position: absolute;
	background: url(asset_path('polygen.png')) no-repeat center;
	background-size: 100%;    	
}


.img-background{
	background: url(asset_path('best-of-san-francisco-badge.png')) no-repeat center;
	background-size: 65%;
	width: 100%;
	height: 100%;
}
.img-mask{
	background: url(asset_path('mask.png')) no-repeat center;
	background-size: 100%; 
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
}
.logo-section img{
	width: 240px;
}
.brunch{
	background: url(asset_path('pasta.png')) no-repeat center;
	display: block;
	background-size: 35%;
	width: 100%;
	height: 100%;
	position: absolute !important;
	top: 0 !important;
}
.hotel{
	background: url(asset_path('hotel.png')) no-repeat center;
	display: block;
	background-size: 35%;
	width: 100%;
	height: 100%;
	position: absolute !important;
	top: 0 !important;
}
.travel{
	background: url(asset_path('travel.png')) no-repeat center;
	display: block;
	background-size: 35%;
	width: 100%;
	height: 100%;
	position: absolute !important;
	top: 0 !important;
}
.craft{
	background: url(asset_path('dish.png')) no-repeat center;
	display: block;
	background-size: 35%;
	width: 100%;
	height: 100%;
	position: absolute !important;
	top: 0 !important;
}
.fashion{
	background: url(asset_path('fashion.png')) no-repeat center;
	display: block;
	background-size: 35%;
	width: 100%;
	height: 100%;
	position: absolute !important;
	top: 0 !important;
}

.img-background span{
	top: 67.5%;
	position: relative;
	color: white;
	font-size: 18px;
}
.img-mask span{
	top: 38%;
	position: relative;
	color: black;
	font-size: 24px;
	font-weight: bold;
}

/* Responsive Design for Search page */

@media only screen and (max-width: 980px){
	.search-result-div{
	 	left: 100px;
	}
}

@media only screen and (max-width: 768px){
	.search-result-div{
		left: 12%;		
	}	
}

@media only screen and (max-width: 700px){
	.search-result-div{
		left: 10%;		
	}
}
@media only screen and (max-width: 650px){
	.search-result-div{
		left: 6%;		
	}
}
@media only screen and (max-width: 600px){
	.search-result-div{
		-ms-transform: translate( 0, -10%)scale(0.8); /* IE 9 */
	    -webkit-transform: translate( 0, -10%)scale(0.8); /* Safari */
	    transform: translate( 0,-10%)scale(0.8); /* Standard syntax */
	    left: -3%;		
	}	
}
@media only screen and (max-width: 500px){
	.search-result-div{
		left: -8%;
	}	
}
@media only screen and (max-width: 450px){
	.search-result-div{
		-ms-transform: translate( 0, -10%)scale(0.6); /* IE 9 */
	    -webkit-transform: translate( 0, -10%)scale(0.6); /* Safari */
	    transform: translate( 0,-10%)scale(0.6); /* Standard syntax */
		left: -10%;
	}	
}
@media only screen and (max-width: 400px){
	.search-result-div{
		left: -15%;
	}	
}
@media only screen and (max-width: 360px){
	.search-result-div{
		left: -20%; 	    	
	}	
}
@media only screen and (max-width: 320px){
	.search-result-div{
		-ms-transform: translate( 0, -10%)scale(0.5); /* IE 9 */
	    -webkit-transform: translate( 0, -10%)scale(0.5); /* Safari */
	    transform: translate( 0,-10%)scale(0.5); /* Standard syntax */		
		  	
	}
}
// Place all the styles related to the Wines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wines-list-section{
	padding: 50px 0px;
}
.wine-section .banner-container{
	position: relative;
    background-image: url(/assets/banner-place-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 340px;
    height: 340px;
    background-position: center 50%;
    width: 100%;
}
.wines h1{
	color: #fff;
	margin-top: 17%;
}
.learn-more-button a,{
	background-color: #567503;
    font-family: Proxima_nova, sans-serif;
    font-size: 12px;
    line-height: 19px;
    color: white;
    text-transform: uppercase;
    float: left;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    max-width: 130px;
    width: 100%;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
}
.go-to-website-button a{
	background-color: #cf0000;
	margin-left: 30px;
    font-family: Proxima_nova, sans-serif;
    font-size: 12px;
    line-height: 19px;
    color: white;
    text-transform: uppercase;
    float: left;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    max-width: 130px;
    width: 100%;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
}
.info-container{
	padding: 20px;
}
a, a:link, a:visited{
	text-decoration: none !important;
}
